@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body,
:root {
  font-family: "Poppins", sans-serif;
  height: 100%;
  @apply bg-neutral-900/80;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.card-deposit-withdraw-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: transparent;
  display: flex;
  justify-content: center;
  gap: 1.5rem;

  margin-bottom: 1rem;
}

.header h2 {
  padding: 4px 16px;
  transition: all 0.3s ease-in;

  cursor: pointer;
}

.header h2:hover {
  color: rgb(65, 62, 217);
  border-bottom: 3px solid rgba(65, 62, 217, 0.423);
}

.withdraw {
  display: none;
}

.deposit {
  display: none;
}

.active {
  border-bottom: 3px solid rgb(65, 62, 217);
}

.show-form {
  display: block;
}

.card-deposit-withdraw {
  width: 40rem;
  margin: auto;
  background-color: rgb(28, 28, 29);
  padding: 1rem;
}

.input-money {
  background-color: transparent;
  margin-top: 1rem;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  color: white;
}

.card-deposit-withdraw .btn {
  background-color: rgb(87, 87, 87);
  padding: 2px 8px;
  border-radius: 1rem;
  display: flex;
  gap: 2px;
  margin-top: 0.5rem;
  align-items: center;
}

.card-deposit-withdraw .big-btn {
  background-color: rgb(65, 62, 217);
  padding: 8px 8px;
  display: block;
  margin: auto;
  border-radius: 2px;
  margin-top: 0.5rem;
  width: 30%;
  margin: 4px auto;
}

.card-deposit-withdraw .sm-card {
  background-color: rgb(23, 22, 22);
  margin: 0.5rem 0;
  padding: 1rem;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 226.7 12.7% 13.9%;
    --foreground: 210 40% 98%;

    --card: 226.7 12.7% 13.9%;
    --card-foreground: 210 40% 98%;

    --popover: 226.7 12.7% 13.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 226.7 12.7% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 226.7 12.7% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 226.7 12.7% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 226.7 12.7% 17.5%;
    --input: 226.7 12.7% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 4rem auto;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #000000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sm-loader {
  width: 24px;
  height: 24px;
  border: 5px solid #000000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sm-loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.sm-loader::before,
.sm-loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.sm-loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #ff3d00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

/* Custom scrollbar styles */
.scrollbar::-webkit-scrollbar {
  height: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #2d3748; /* Tailwind's gray-900 */
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #edf2f7; /* Tailwind's gray-100 */
}
.my-purple {
  background-color: rgb(84, 28, 145);
  background-image: radial-gradient(
      at 0% 0%,
      rgb(34, 34, 38) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, rgb(117, 28, 212) 0, transparent 50%),
    radial-gradient(at 100% 0%, rgb(84, 28, 145) 0, transparent 50%);
  background-color: rgb(64, 21, 109);
}
.my-purple:hover {
  background-color: rgb(107, 35, 184);
  background-image: radial-gradient(
      at 0% 0%,
      rgb(34, 34, 38) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, rgb(117, 28, 212) 0, transparent 50%),
    radial-gradient(at 100% 0%, rgb(107, 35, 184) 0, transparent 50%);
  background-color: rgb(107, 35, 184);
}
.my-yellow {
  background-color: rgb(96, 105, 18);
  background-image: radial-gradient(
      at 0% 0%,
      rgb(34, 34, 38) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, rgb(201, 220, 24) 0, transparent 50%),
    radial-gradient(at 100% 0%, rgb(96, 105, 18) 0, transparent 50%);
  background-color: rgb(96, 105, 18);
}
.my-yellow:hover {
  background-color: rgb(141, 154, 24);
  background-image: radial-gradient(
      at 0% 0%,
      rgb(34, 34, 38) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, rgb(201, 220, 24) 0, transparent 50%),
    radial-gradient(at 100% 0%, rgb(141, 154, 24) 0, transparent 50%);
  background-color: rgb(141, 154, 24);
}
.my-green {
  background-color: rgb(36, 112, 28);
  background-image: radial-gradient(
      at 0% 0%,
      rgb(34, 34, 38) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, rgb(58, 176, 45) 0, transparent 50%),
    radial-gradient(at 100% 0%, rgb(36, 112, 28) 0, transparent 50%);
  background-color: rgb(36, 112, 28);
}
.my-green:hover {
  background-color: rgb(57, 180, 44);
  background-image: radial-gradient(
      at 0% 0%,
      rgb(34, 34, 38) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, rgb(70, 196, 56) 0, transparent 50%),
    radial-gradient(at 100% 0%, rgb(57, 180, 44) 0, transparent 50%);
  background-color: rgb(57, 180, 44);
}
@media screen and (max-width: 768px) {
  .half-at-mid {
    width: 85% !important;
  }
}
